@font-face {
    font-family: 'Pixelized';
    src: url('fonts/rainyhearts.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Pixelized', sans-serif;
  }