<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navbar-color">
  <div class="container">
    <a class="navbar-brand home-link d-flex align-items-center nav-link" href="#" data-id="home">
      <div>
        <img src="../images/self.PNG" alt="A pixelated image of Natasha's photo" class="bi" width="40" height="40" />
        Home
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" id="page_about">
          <a class="nav-link" href="#" data-id="about">About</a>
        </li>

        <li class="nav-item" id="page_projects">
          <a class="nav-link" href="#" data-id="projects">Projects</a>
        </li>

        <li class="nav-item" id="page_contact">
          <a class="nav-link" href="#" data-id="contact">Contact</a>
        </li>

        <li class="nav-item" id="page_blog">
          <a class="nav-link" href="#" data-id="blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
