<div class="card mb-3">
    <div class="card-header d-flex align-items-center" id="headingResearchsafety">
      <button class="btn btn-link text-decoration-none flex-grow-1 text-start" data-bs-toggle="collapse" data-bs-target="#collapseResearchsafety" aria-expanded="false" aria-controls="collapsePaperTwo">
        "Because I can promise you: if you're studying people with lived experience of trauma, secondary trauma will happen": Researchers' safety in HCI research with traumatized communities
      </button>
    </div>
  
    <div id="collapseResearchsafety" class="collapse" aria-labelledby="headingResearchsafety">
      <div class="card-body d-flex">
        <div>
          <p class="card-text">
            Abstract: Research with traumatized populations is gaining prominence in Human-Computer Interaction (HCI), yet the well-being and safety of researchers conducting this work remain underexplored. To address this gap, we conducted a study involving ten semi-structured interviews with HCI researchers, examining their support systems, the impact of their work on their well-being, self-care practices, available resources, and field-specific norms. We uncovered critical issues through thematic analysis, including insufficient ethical and conference review guidelines, a lack of institutional support such as counseling and training, and a reliance on informal knowledge-sharing networks. These findings highlight an urgent need for systemic changes within HCI and related fields. We provide actionable design implications and discuss how these insights can foster safer, more sustainable practices for researchers.
          </p>
          <p class="under-review">Paper under review</p>
        </div>
      </div>
    </div>
  </div>